
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


.jumbotron { 
    background-color: #2980b9;
    color: #ffffff;
    padding: 100px 25px;
    margin-bottom: 0px;
}


.bg-grey {
    background-color: #f6f6f6;
}


.container-fluid {
    padding: 50px 50px;
}

.custom-footer {
    padding: 15px 0px;
}

.list-inline {
	margin-bottom: 0px;
}

.img {
	padding: 10px 10px;
}